<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.karam.view.activity">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.karam.application.KaramApplication"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/KaramTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".activities.UserSettings" />
        <activity android:name=".activities.AboutUs" />
        <activity
            android:name=".activities.LandingPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LaborerStatusPage" />
        <activity android:name=".activities.LoginPage" />
        <activity android:name=".activities.ContractorPostLogin" />
        <activity android:name=".activities.ContractorRegistration" />
        <activity android:name=".activities.LaborerRegistration" />
        <activity android:name=".activities.WorkRequestPage" />
        <activity android:name=".activities.WorkRequestSelf" />
        <activity android:name=".activities.WorkRequestFriend" />
    </application>
</manifest>
